In [1]:
# import
import numpy as np
import pandas as pd
from pathlib import Path
import chardet

In [2]:
# Create path to CSV
gaming = Path("GamingStudy/Scrub_gaming_data.csv")

In [3]:
# read in binary mode and detect encoding
# with open("../Scrub gaming data.csv", 'rb') as f:
#     result = chardet.detect(f.read())
    
# encoding = result['encoding']

In [4]:
# Read data file with Pandas
# gaming_df = pd.read_csv(gaming, encoding = "ISO-8859-1")
gaming_df = pd.read_csv(gaming)
gaming_df

,S. No.,Timestamp,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,...,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,SWL_T,SPIN_T,Residence_ISO3,Birthplace_ISO3
0,1,42052.00437,0,0,0,0,1,0,0,Not difficult at all,...,USA,USA,Reddit,Singleplayer,Accept,1,23,5.0,USA,USA
1,2,42052.00680,1,2,2,2,0,1,0,Somewhat difficult,...,USA,USA,Reddit,Multiplayer - online - with strangers,Accept,8,16,33.0,USA,USA
2,3,42052.03860,0,2,2,0,0,3,1,Not difficult at all,...,Germany,Germany,Reddit,Singleplayer,Accept,8,17,31.0,DEU,DEU
3,4,42052.06804,0,0,0,0,0,0,0,Not difficult at all,...,USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,0,17,11.0,USA,USA
4,5,42052.08948,2,1,2,2,2,3,2,Very difficult,...,USA,South Korea,Reddit,Multiplayer - online - with strangers,Accept,14,14,13.0,KOR,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13459,14246,42057.75678,1,0,0,1,0,1,1,Not difficult at all,...,France,France,Reddit,Multiplayer - online - with strangers,Accept,4,28,7.0,FRA,FRA
13460,14247,42057.81185,3,3,3,3,2,3,3,Extremely difficult,...,USA,USA,Reddit,Multiplayer - online - with strangers,Accept,20,23,25.0,USA,USA
13461,14248,42058.16964,0,0,0,0,0,0,0,Not difficult at all,...,Norway,Norway,Reddit,Multiplayer - online - with real life friends,Accept,0,32,10.0,NOR,NOR
13462,14249,42058.24420,3,2,1,3,0,1,3,Somewhat difficult,...,Canada,Canada,Reddit,Singleplayer,Accept,13,16,32.0,CAN,CAN
13463,14250,42058.36375,1,1,0,0,0,0,0,Somewhat difficult,...,Canada,Canada,Reddit,Multiplayer - online - with strangers,Accept,2,25,14.0,CAN,CAN

In [5]:
gaming_df.columns

Index(['S. No.', 'Timestamp', 'GAD1', 'GAD2', 'GAD3', 'GAD4', 'GAD5', 'GAD6',
       'GAD7', 'GADE', 'SWL1', 'SWL2', 'SWL3', 'SWL4', 'SWL5', 'Game',
       'Platform', 'Hours', 'earnings', 'whyplay', 'League', 'highestleague',
       'streams', 'SPIN1', 'SPIN2', 'SPIN3', 'SPIN4', 'SPIN5', 'SPIN6',
       'SPIN7', 'SPIN8', 'SPIN9', 'SPIN10', 'SPIN11', 'SPIN12', 'SPIN13',
       'SPIN14', 'SPIN15', 'SPIN16', 'SPIN17', 'Narcissism', 'Gender', 'Age',
       'Work', 'Degree', 'Birthplace', 'Residence', 'Reference', 'Playstyle',
       'accept', 'GAD_T', 'SWL_T', 'SPIN_T', 'Residence_ISO3',
       'Birthplace_ISO3'],
      dtype='object')

In [6]:
clean_game = gaming_df[["S. No.","Game","Platform","Hours","earnings","whyplay","Gender","Age","Work","Degree","Residence","Playstyle","GAD_T","SWL_T","SPIN_T"]]
clean_game

,S. No.,Game,Platform,Hours,earnings,whyplay,Gender,Age,Work,Degree,Residence,Playstyle,GAD_T,SWL_T,SPIN_T
0,1,Skyrim,Console (PS Xbox ...),15.0,I play for fun,having fun,Male,25,Unemployed / between jobs,Bachelor or equivalent,USA,Singleplayer,1,23,5.0
1,2,Other,PC,8.0,I play for fun,having fun,Male,41,Unemployed / between jobs,Bachelor or equivalent,USA,Multiplayer - online - with strangers,8,16,33.0
2,3,Other,PC,0.0,I play for fun,having fun,Female,32,Employed,Bachelor or equivalent,Germany,Singleplayer,8,17,31.0
3,4,Other,PC,20.0,I play for fun,improving,Male,28,Employed,Bachelor or equivalent,USA,Multiplayer - online - with online acquaintanc...,0,17,11.0
4,5,Other,Console (PS Xbox ...),20.0,I play for fun,having fun,Male,19,Employed,High school diploma (or equivalent),South Korea,Multiplayer - online - with strangers,14,14,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13459,14246,Other,Console (PS Xbox ...),40.0,I play for fun,improving,Male,22,Student at college / university,Master or equivalent,France,Multiplayer - online - with strangers,4,28,7.0
13460,14247,League of Legends,PC,20.0,I play for fun,winning,Female,20,Student at college / university,High school diploma (or equivalent),USA,Multiplayer - online - with strangers,20,23,25.0
13461,14248,Starcraft 2,PC,20.0,I play for fun,having fun,Male,19,Student at college / university,High school diploma (or equivalent),Norway,Multiplayer - online - with real life friends,0,32,10.0
13462,14249,Other,Console (PS Xbox ...),5.0,I play for fun,having fun,Female,18,Student at school,High school diploma (or equivalent),Canada,Singleplayer,13,16,32.0
13463,14250,Starcraft 2,PC,15.0,I play for fun,improving,Male,19,Student at college / university,High school diploma (or equivalent),Canada,Multiplayer - online - with strangers,2,25,14.0

In [7]:
clean_game.to_csv("clean_game_data.csv")

In [8]:
# Aliyu's Code Starts Here

In [9]:
#Aliyu's code stops here

#Amy's code starts here
# Americans vs Europeans: Who spends more time gaming, and how does it compare to their satisfaction with life scores?

In [10]:
# create a df to see only S. No. (survey number), Residence, and SWL_T (satisfaction with life total score)
residence_df = clean_game[["S. No.","Hours", "Residence","SWL_T"]]

# pull list of countries out of Residence column
residence_df["Residence"].unique()

# drop non-US and non_European countries
# coding help from Xpert Learning Assistant
# European countries reference: https://www.worldometers.info/geography/how-many-countries-in-europe/#google_vignette
patterns_to_drop = ['South Korea', 'Japan', 'Canada', 
       'Australia', 'Malaysia',
       'Turkey', 'South Africa', 'India',
       'Argentina',
       'Singapore', 'China', 'Unknown', 
       'Saudi Arabia',
       'Jordan', 'Brazil', 'Venezuela', 'Tunisia', 'Israel',
       'Qatar', 'Mexico', 'Philippines',
       'Egypt', 'New Zealand ', 
       'Algeria', 'UAE', 'Chile', 'Lebanon',
       'Thailand', 'Peru', 'Namibia', 'Uruguay', 'Kuwait', 'Bangladesh',
       'Syria', 'Colombia', 'Dominican Republic', 'Nicaragua',
       'Hong Kong', 'Vietnam', 'Kazakhstan', 'Guadeloupe',
       'Grenada', 'Trinidad & Tobago', 'Panama', 'Indonesia',
       'Puerto Rico', 'Taiwan', 'Costa Rica', 'Belize',
       'Jamaica', 'Georgia', 'Faroe Islands', 'Guatemala', 'Moldova',
       'Mongolia', 'Honduras', 'Bahrain', 'Bolivia',
       'El Salvador', 'Ecuador', 'Pakistan', 'Republic of Kosovo',
       'St Vincent', 'Brunei', 'Fiji', 'Gibraltar ', 'Palestine']

residence_df = residence_df[~residence_df["Residence"].str.contains('|'.join(patterns_to_drop))]
residence_df

       S. No.  Hours    Residence  SWL_T
0           1   15.0          USA     23
1           2    8.0          USA     16
2           3    0.0      Germany     17
3           4   20.0          USA     17
5           6    4.0          USA     17
...       ...    ...          ...    ...
13457   14243   15.0  Netherlands      5
13458   14245   30.0          USA     16
13459   14246   40.0       France     28
13460   14247   20.0          USA     23
13461   14248   20.0       Norway     32

[11067 rows x 4 columns]

- add Region col for US and Eur (only those two)
- assign US or EUR to each country in the Region col
- total up SWL scores for each
- total up hours for each
- pie chart for # players US vs Euro
- bar chart for US/Euro players vs SWL score
- ANOVA analysis?

In [29]:
# add Region col for USA and Europe (only those two)
residence_df["USA or Eur"] = np.nan

# assign USA or Eur to simplify regions
for index, country in residence_df.iterrows():
    if country["Residence"] == "USA":
        residence_df.at[index, "USA or Eur"] = "USA"
    else:
        residence_df.at[index, "USA or Eur"] = "Europe"
residence_df.head()

# total hours played (per week) by USA residents vs hours played (per week) by European residents
count_residence = residence_df["USA or Eur"].value_counts()
print(count_residence)

print("-----------------------------------------------------------------------")

usa_hours = residence_df.loc[residence_df["USA or Eur"] == "USA", "Hours"].sum()
print("The total number of hours played per week by gamers in the USA is " + str(usa_hours))

eur_hours = residence_df.loc[residence_df["USA or Eur"]== "Europe", "Hours"].sum()
print("The total number of hours played per week by gamers in Europe is " + str(eur_hours))

print("-----------------------------------------------------------------------")

# average hours played (per week) by USA residents vs average hours played (per week) by European residents
usa_hours_avg = residence_df.loc[residence_df["USA or Eur"] == "USA", "Hours"].mean()
print("The average number of hours played per week by gamers in the USA is " + str(usa_hours_avg))

eur_hours_avg = residence_df.loc[residence_df["USA or Eur"]== "Europe", "Hours"].mean()
print("The average number of hours played per week by gamers in Europe is " + str(eur_hours_avg))

print("-----------------------------------------------------------------------")

# average SWL scores for USA residents and European residents
usa_swl = residence_df.loc[residence_df["USA or Eur"] == "USA", "SWL_T"].mean()
print("The average SWL score for USA residents is " + str(usa_swl))

eur_swl = residence_df.loc[residence_df["USA or Eur"] == "Europe", "SWL_T"].mean()
print("The average SWL score for European residents is " + str(eur_swl))

USA or Eur
Europe    6498
USA       4569
Name: count, dtype: int64
-----------------------------------------------------------------------
The total number of hours played per week by gamers in the USA is 93259.0
The total number of hours played per week by gamers in Europe is 144671.0
-----------------------------------------------------------------------
The average number of hours played per week by gamers in the USA is 20.447051085288315
The average number of hours played per week by gamers in Europe is 22.308558211256745
-----------------------------------------------------------------------
The average SWL score for USA residents is 20.22083606916174
The average SWL score for European residents is 19.588027085257004

In [12]:
#Amy's code stops here
#Andrew's code starts here

In [13]:
#Anna's code stops here
#Andrew's code starts here