In [1]:
# import
import numpy as np
import pandas as pd
from pathlib import Path
import chardet

In [2]:
# Create path to CSV
gaming = Path("../GamingStudy_data.csv")

In [3]:
# read in binary mode and detect encoding
with open('../GamingStudy_data.csv', 'rb') as f:
    result = chardet.detect(f.read())
    
encoding = result['encoding']

FileNotFoundError: [Errno 2] No such file or directory: '../GamingStudy_data.csv'

In [ ]:
# Read data file with Pandas
gaming_df = pd.read_csv(gaming, encoding=encoding)
gaming_df["whyplay"].value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
gaming_df.columns

Index(['S. No.', 'Timestamp', 'GAD1', 'GAD2', 'GAD3', 'GAD4', 'GAD5', 'GAD6',
       'N15', 'SPIN16', 'GAD7', 'GADE', 'SWL1', 'SWL2', 'SWL3', 'SWL4', 'SWL5',
       'Game', 'Platform', 'Hours', 'earnings', 'whyplay', 'League',
       'highestleague', 'streams', 'SPIN1', 'SPIN2', 'SPIN3', 'SPIN4', 'SPIN5',
       'SPIN6', 'SPIN7', 'SPIN8', 'SPIN9', 'SPIN10', 'SPIN11', 'SPIN12',
       'SPIN13', 'SPIN14', 'SPISPIN17', 'Narcissism', 'Gender', 'Age', 'Work',
       'Degree', 'Birthplace', 'Residence', 'Reference', 'Playstyle', 'accept',
       'GAD_T', 'SWL_T', 'SPIN_T', 'Residence_ISO3', 'Birthplace_ISO3'],
      dtype='object')

In [ ]:
clean_game = gaming_df[["S. No.","Game","Platform","Hours","earnings","whyplay","League","Gender","Age","Work","Degree","Residence","Playstyle","GAD_T","SWL_T","SPIN_T"]]
clean_game

,S. No.,Game,Platform,Hours,earnings,whyplay,League,Gender,Age,Work,Degree,Residence,Playstyle,GAD_T,SWL_T,SPIN_T
0,1,15.0,I play for fun,having fun,NaN,NaN,0.0,Male,25,Unemployed / between jobs,Bachelor�(or equivalent),USA,Singleplayer,1,23,5.0
1,2,8.0,I play for fun,having fun,NaN,NaN,2.0,Male,41,Unemployed / between jobs,Bachelor�(or equivalent),USA,Multiplayer - online - with strangers,8,16,33.0
2,3,0.0,I play for fun,having fun,NaN,NaN,0.0,Female,32,Employed,Bachelor�(or equivalent),Germany,Singleplayer,8,17,31.0
3,4,20.0,I play for fun,improving,NaN,NaN,5.0,Male,28,Employed,Bachelor�(or equivalent),USA,Multiplayer - online - with online acquaintanc...,0,17,11.0
4,5,20.0,I play for fun,having fun,NaN,NaN,1.0,Male,19,Employed,High school diploma (or equivalent),South Korea,Multiplayer - online - with strangers,14,14,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13459,14246,40.0,I play for fun,improving,NaN,NaN,10.0,Male,22,Student at college / university,Master�(or equivalent),France,Multiplayer - online - with strangers,4,28,7.0
13460,14247,20.0,I play for fun,winning,NaN,NaN,20.0,Female,20,Student at college / university,High school diploma (or equivalent),USA,Multiplayer - online - with strangers,20,23,25.0
13461,14248,20.0,I play for fun,having fun,Gold,NaN,14.0,Male,19,Student at college / university,High school diploma (or equivalent),Norway,Multiplayer - online - with real life friends,0,32,10.0
13462,14249,5.0,I play for fun,having fun,NaN,NaN,0.0,Female,18,Student at school,High school diploma (or equivalent),Canada,Singleplayer,13,16,32.0
13463,14250,15.0,I play for fun,improving,Diamond,NaN,8.0,Male,19,Student at college / university,High school diploma (or equivalent),Canada,Multiplayer - online - with strangers,2,25,14.0

In [ ]:
clean_game = clean_game.dropna(how='any')

Empty DataFrame
Columns: [S. No., Game, Platform, Hours, earnings, whyplay, League, Gender, Age, Work, Degree, Residence, Playstyle, GAD_T, SWL_T, SPIN_T]
Index: []